@btn-primary-color:#1AB58F;
@btn-fontSize:12px;
// 默认按钮样式
.ats-btn{
    height: 32px;
    padding: 0 16px;
    margin-right: 10px;
    border: 1px solid #1FCC95;
    font-family: PingFangSC-Regular;
    font-size: @btn-fontSize;
    color: #1FCC95;
    text-align: center;
    cursor: pointer;
    letter-spacing: 0px;
}
// 主功能按钮
.ats-btn__primary{
    background-color: @btn-primary-color;
    border-color:@btn-primary-color;
    font-family: PingFangSC-Semibold;
    color: #FFFFFF;
    line-height: @btn-fontSize;
    &:hover{
        background-color: #089A76;
    }
}
// 次功能按钮
.ats-btn__minor{
    background-color:#F7F7F7;
    border-color:#DBDBDB;;
    font-family: PingFangSC-Regular;
    color: #666666;;
    line-height: @btn-fontSize;
    &:hover{
        background: #EEEEEE;;
    }
}
// 危险按钮
.ats-btn__danger{
    background-color:#f5f5f5;
    border-color:#f5222d;;
    font-family: PingFangSC-Regular;
    color: #f5222d;;
    line-height: @btn-fontSize;
    &:hover{
        background-color: #ff4d4f;
        border-color: #ff4d4f;
        color: white;
    }
}

// 禁用样式
.ats-btn[disabled]{
    cursor: not-allowed;
    color: rgba(0,0,0,.25);
    background-color: #f5f5f5;
    border-color: #d9d9d9;
    text-shadow: none;
    box-shadow: none;
}

// 处理默认样式
button{
    -webkit-appearance: button;
    outline: 0;
    border-radius: 2px;
    line-height: inherit;
    padding: 0;
}