@import '../../style/themes/default.less';
@import '../../style/mixins/index.less';
// @pagination-item-size: 32px;
// @pagination-item-size-sm: 24px;
// @pagination-font-family: Arial;
// @pagination-font-weight-active: 500;
.biz-pagination {
    width: 100%;
    text-align: center;
    &_item {
        display: inline-block;
        width: @pagination-item-size;
        height: @pagination-item-size;
        line-height: @pagination-item-size - 2;
        text-align: center;
        background-color: #fff;
        border: 1px solid #EDEDED;
        border-right:0; 
        cursor: pointer;
        // border-radius: 4px;
        user-select: none;
        color: #fff;
        a {
            font-size: 12px;
            color: #666666;
            display: block;
            text-decoration: none;
        }
        &:last-child{
            border-right: 1px solid #EDEDED;
        }
        &:active,
        &.current {
            color:#fff; 
            font-weight: @pagination-font-weight-active;
            background-color: @primary-color;
            a{
                color:#fff; 
            }
        }
    }
}