@import '../../../style/base/themes/default';
@import '../../../style/base/mixins/index';
// @table-header-bg: @background-color-light;
// @table-header-color: @heading-color;
// @table-header-sort-bg: @background-color-base;
// @table-body-sort-bg: rgba(0, 0, 0, 0.01);
// @table-row-hover-bg: @primary-1;
// @table-selected-row-bg: #fafafa;
// @table-expanded-row-bg: #fbfbfb;
// @table-padding-vertical: 16px;
// @table-padding-horizontal: 16px;

.biz-table{
    width:100%; 
    table{
        width: 100%;
    }
    th{
        height: 40px;
        font-size: 12px;
        color: #666666;
        letter-spacing: 0;
        background-color: @table-header-bg;
        padding:@table-padding-vertical @table-padding-horizontal;
        border: 1px solid #EDEDED;
    }
    tbody tr:hover{
        background-color:@table-row-hover-bg
    }
    td{
        height: 46px;
        font-size: 12px;
        color: #666666;
        letter-spacing: 0;
        line-height: 16px;
        border: 1px solid #EDEDED;
        padding:@table-padding-vertical @table-padding-horizontal;
    }
}